/* Google Font */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    background:#0B0B0B;

}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

/* Container */

.container{

    width:90%;
    max-width:1280px;
    margin:auto;

}

/* Header */

.header{

    width:100%;
    position:sticky;
    top:0;
    left:0;
    background:#111;
    z-index:999;
    border-bottom:1px solid #1e1e1e;

}

/* Navbar */

.navbar{

    height:80px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

/* Logo */

.logo{

    font-size:2rem;
    color:#fff;
    font-weight:800;
    letter-spacing:1px;

}

.logo span{

    color:#ff3c00;

}

/* Nav */

.nav-links{

    display:flex;
    gap:35px;

}

.nav-links a{

    color:#fff;
    font-size:16px;
    font-weight:500;
    transition:.3s;

}

.nav-links a:hover{

    color:#ff3c00;

}

/* Button */

.btn{

    padding:13px 30px;

    background:#ff3c00;

    color:#fff;

    border-radius:50px;

    font-weight:600;

    transition:.3s;

}

.btn:hover{

    background:#fff;

    color:#111;

}

/* Menu */

.menu-btn{

    display:none;

    color:#fff;

    font-size:30px;

    cursor:pointer;

}
/*=========================
 HERO SECTION
=========================*/

.hero{

    min-height:100vh;
    display:flex;
    align-items:center;
    background:linear-gradient(135deg,#050505,#151515);
    padding:120px 0 80px;

}

.hero-container{

    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;

}

.hero-content{

    flex:1;

}

.hero-tag{

    display:inline-block;
    color:#ff4d00;
    font-weight:600;
    margin-bottom:20px;
    letter-spacing:1px;

}

.hero h1{

    font-size:64px;
    line-height:1.15;
    color:#fff;
    margin-bottom:25px;

}

.hero p{

    color:#cfcfcf;
    font-size:18px;
    line-height:1.8;
    margin-bottom:40px;
    max-width:600px;

}

.hero-buttons{

    display:flex;
    gap:20px;

}

.btn{

    text-decoration:none;
    padding:16px 34px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;

}

.btn-primary{

    background:#ff4d00;
    color:#fff;

}

.btn-primary:hover{

    transform:translateY(-4px);
    box-shadow:0 15px 35px rgba(255,77,0,.35);

}

.btn-secondary{

    border:2px solid #ff4d00;
    color:#fff;

}

.btn-secondary:hover{

    background:#ff4d00;

}

.hero-image{

    flex:1;
    text-align:center;

}

.hero-image img{

    width:100%;
    max-width:520px;

}
